body
{
    background-color: white;
    font-family: Helvetica, serif;
}

header
{
    height: 17%;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: black;
    margin-top: 0%;
}

.secondary
{
    background-color: black;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
}

.logo img
{
    margin-top: 2.5%;
    margin-left: auto;
}

.navText
{
    padding-right: 80px;

}
header nav ul li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

header nav ul li a:hover
{
    text-decoration: none;
    color: orange;
    font-weight: bolder;
}



.log-in
{
    margin-top: 0%;
    padding: 200px;
    margin-left: -175px;

}
